@font-face {
    font-family: "Poppins-Regular";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Italic";
    src: url("/assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-BoldItalic";
    src: url("/assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Black";
    src: url("/assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-BlackItalic";
    src: url("/assets/fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Schabo-Condensed";
    src: url("/assets/fonts/SCHABO-Condensed.otf") format("truetype");
}
@font-face {
    font-family: "Semakin";
    src: url("/assets/fonts/Semakin.otf") format("truetype");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:sans-serif;
}
:root{
    --color--verde-primario: #60ff00;
    --color--verde-secundario: #44B200;
    --color--verde-terciario: #8FFF4C;
    --color--negro-primario: #000000;
    --color--negro-secundario: #1A1A1A;
    --color--blanco-primario: #FFFFFF;
    --color--blanco-secundario: #E5E5E5;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color--negro-secundario);
}

/* --------------------CONTENEDOR PRINCIPAL --------------------*/
.contenedor-principal {
    padding: 4rem;
    background-image: url(/assets/competitions/competitionsbackg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.volver-atras {
    display: inline-flex;
    align-items: center;
}

.flecha-atras {
    width: 1.5rem;
}

.texto-atras {
    font-family: "Poppins-Bold";
    font-size: 1.2rem;
    color: var(--color--verde-primario);
    padding-left: 1rem;
}

.logo{
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}

.logo-img{
    width: 100%;
}

.titulo-perfil{
    font-family: "Poppins-Regular";
    font-size: 2.5rem;
    color: var(--color--verde-primario);
    text-align: center;
    padding-top: 2rem;
}

.contenedor-ejercicios{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: 6rem 6rem 0rem 6rem;
    gap: 4rem;
}

.contenedor-izquierdo, .contenedor-derecho{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.ejercicios{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 27rem;
    height: 8rem;
    background-color: var(--color--negro-secundario);
    border-radius: 2rem;
    justify-items: center;
    align-items: center;
    transition: border 170ms linear, transform 200ms linear;
    border: 2px solid transparent;
    -webkit-box-shadow: 10px 11px 9px -4px rgba(96,255,0,0.27);
    -moz-box-shadow: 10px 11px 9px -4px rgba(96,255,0,0.27);
    box-shadow: 10px 11px 9px -4px rgba(96,255,0,0.27);
}

.ejercicios-img{
    width: 5rem;
    height: 5rem;
    grid-column: 1;
}

.ejercicios-parrafo{
    font-family: "Poppins-Regular";
    font-size: 2.5rem;
    color: var(--color--blanco-primario);
    display: flex;
    align-items: center;
    text-align: center;
    grid-column: 2;
}

.ejercicios-flecha{
    color: var(--color--verde-primario);
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    margin-left: 3rem;
    grid-column: 3;
}

.ejercicios:hover{
    border: 2px solid var(--color--verde-primario);
    transform: scale(1.01);
}

/*Vista Mobile*/

@media screen and (max-width: 768px){
    .logo{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .contenedor-principal{
        height:auto;
    }

    .contenedor-ejercicios{
        display: grid;
        grid-template-columns: auto;
        gap: 4rem;
    }

    .ejercicios{
        width: 27rem;
    }

    .ejercicios-parrafo{
        font-size: 2rem;
    }
}

/*=====================POP UPS ===================================*/

.modal-1 {
    background-image: url(/assets/plans/plansbackg\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
  }

.contenedor-equis-cerrar {
    display: flex;
    justify-content: flex-end;
}

.equis-cerrar {
    font-size: 3rem;
    color: var(--color--verde-secundario);
    font-family: "Poppins-Bold";
    margin: 1rem 2rem 0rem 1rem;
    cursor: pointer;
}

.equis-cerrar:hover {
    color: var(--color--negro-primario);
}

.contenedor-modal {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.modal-titulo {
    font-family: 'Semakin', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.modal-izquierdo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-musculosTrabajados {
    width: 90%;
    margin: 3rem;
}

.modal-musculosTrabajados {
    font-family: "Poppins-Bold";
    color: var(--color--negro-primario);
    font-size: 3rem;
}

.modal-derecho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-1 {
    width: 40rem;
    height: 25rem;
    border: 0.4rem solid var(--color--negro-primario);
}

.contenedor-niveles {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.nivel {
    text-align: center;
}

.tipo-nivel {
font-family: "Poppins-Bold";
font-size: 2rem;
color: var(--color--verde-primario);
background-color: var(--color--negro-primario);
padding: 0.2rem 0.4rem;
}

.repeticiones {
    font-family: "Poppins-Regular";
    font-size: 2rem;
}

.asterisco {
    color: var(--color--verde-primario);
    font-family: "Poppins-Bold";
}

.parrafo-clases {
    font-family: "Poppins-Regular";
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
    .contenedor-modal {
        flex-direction: column;
    }

    .imagen-musculosTrabajados {
        width: 70%;
        margin: 3rem;
    }
}

@media screen and (max-width: 767px){

    .modal-1 {
        padding: 2rem;
    }

    .contenedor-modal {
        flex-direction: column;
    }

    .contenedor-niveles {
        flex-direction: column;
    }

    .video-1 {
        width: 100%;
        height: 80%;
    }

}