*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:sans-serif;
}

@font-face {
    font-family: "NeuePlak-Regular";
    src: url("/assets/fonts/NeuePlakText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NeuePlak-Bold";
    src: url("/assets/fonts/NeuePlak-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "normal";
    src: url("/assets/fonts/SCHABO-Condensed.otf") format("truetype");
}

:root{
    --color--verde-primario: #60ff00;
    --color--verde-secundario: #44B200;
    --color--verde-terciario: #8FFF4C;
    --color--negro-primario: #000000;
    --color--negro-secundario: #1A1A1A;
    --color--blanco-primario: #FFFFFF;
    --color--blanco-secundario: #E5E5E5;
}

/*Estilizando la barra de navegacion*/
.nav--container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 69px;
    /* position: fixed; */
    background-color: var(--color--negro-primario);
}
.nav--left{
    display: flex;
}
.nav--logo{
    width: 100px;
    height: 100px;
    padding: 10px 10px;
}
.nav--logo img{
    width: 54px;
    height: 54px;
    margin: -3px auto auto 10px;
}
.nav--elements ul{
    display: flex;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav--elements li{
    font-family: "NeuePlak-Regular";
    font-size: 1.6rem;
    padding-left: 20px;
    padding-top: 21.2px;
    color: var(--color--blanco-primario);
    cursor: pointer;
}

.nav--elements ul li:first-child {
    margin-left: -20px;
}

.nav--elements li:hover{
    font-family: "NeuePlak-Regular";
    padding-left: 20px;
    padding-top: 19px;
    font-size: 1.7rem;
    color: var(--color--verde-primario)
}

.nav--right{
    display: flex;
    width: 100%;
    height: auto;
   /*  padding-left: 100px; */
    align-items: center;
    justify-content: flex-end;
   /*  padding-top: -40px; */
}
.contact{
    padding-right: 2rem;
}

.btn-1{
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: var(--color--blanco-primario);
    background-color: var(--color--negro-primario);
    padding-right: 2rem;
    cursor: pointer;
}

.btn-1:hover{
    color: var(--color--verde-primario);
}

.btn-2{
    color: var(--color--negro-primario);
    background-color: var(--color--verde-primario);
    height: 40px;
    width: 100px;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-2:hover{
    color: var(--color--negro-primario);
    background-color: var(--color--verde-terciario);
}

/* HORARIO -- By Luis */

.hr-container {
    background-image: url('/assets/schedules/schedulesbackg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
}

.hr-listcont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-lista {
    background-color: #E5E5E5;
    display: flex;
    border: 1px solid black;
    margin-top: 150px;
    justify-content: center;
}

.lista {
    border: 3px solid black;
    background-color: aquamarine;
    width: 210px;
    height: 340px;
    margin: 5px;
}

.hr-aa {
    margin-left: -26px;
}

.hr-am {
    display: flex;
    background-color: #000000;
    height: 40px;
    position: relative;
    width: 70px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: NeuePlak-Bold;
    padding: 0 3px 4px 0;
    transform: rotate(-90deg);
    left: 20px;
    top: 20px;
}

.hr-am-pm {
    display: flex;
    background-color: #000000;
    height: 40px;
    position: relative;
    width: 110px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: NeuePlak-Bold;
    padding: 0 3px 4px 0;
    transform: rotate(-90deg);
    left: 40px;
    top: 40px;
}

.hr-openbox {
    display: flex;
    background-color: #000000;
    height: 40px;
    position: relative;
    width: 141px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: NeuePlak-Bold;
    padding: 0 3px 4px 0;
    transform: rotate(-90deg);
    left: 42px;
    top: 55px;
}