@font-face {
    font-family: "Poppins-Regular";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Italic";
    src: url("/assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-BoldItalic";
    src: url("/assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-Black";
    src: url("/assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-BlackItalic";
    src: url("/assets/fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Schabo-Condensed";
    src: url("/assets/fonts/SCHABO-Condensed.otf") format("truetype");
}
@font-face {
    font-family: "Semakin";
    src: url("/assets/fonts/Semakin.otf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:sans-serif;
}
:root{
    --color--verde-primario: #60ff00;
    --color--verde-secundario: #44B200;
    --color--verde-terciario: #8FFF4C;
    --color--negro-primario: #000000;
    --color--negro-secundario: #1A1A1A;
    --color--blanco-primario: #FFFFFF;
    --color--blanco-secundario: #E5E5E5;
}

/*=======================| SECCION BARRA DE NAVEGACION |============================*/
a {
    text-decoration: none;
}
.nav--container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    background-color: var(--color--negro-primario);
    z-index: 2;
    overflow-x: hidden; /*Quita el scroll horizontal*/
}
.nav--left{
    display: flex;
    align-items: center;
    width: 100%;
}
.nav--logo{
    padding-left: 1.5rem;
    padding-right: 3rem;
}
.nav--logo img{
    width: 5rem;
    height: 5rem;
}

.nav--elements{
    display: flex;
    justify-content: space-between;
}

.button--cerrar{
    display: none;
    border: 0;
    font-size: 2rem;
    color: var(--color--blanco-secundario);
    background-color: var(--color--negro-primario);
    cursor: pointer;
}

.btn--contactologin{
    display: none;
}

.nav--elements ul{
    display: flex;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    align-items: center;
    gap: 2rem; /* Agrega espacio entre elementos */
}

.nav--elements ul li{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--color--blanco-primario);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.nav--elements ul li img{
    display: none;
}
.nav--elements ul li a {
    color: var(--color--blanco-primario);
}
.nav--elements ul li a:hover{
    font-size: 1.7rem;
    color: var(--color--verde-primario);
    transition: all 0.4s;
}

.nav--rigth-2{
    display: none;
}

.btn-1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    color: var(--color--blanco-primario);
    background-color: var(--color--negro-primario);
    cursor: pointer;
    padding-left: 3rem;
}
.btn-1:hover{
    color: var(--color--verde-primario);
    transition: all 0.4s;
}
.btn-2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--color--negro-primario);
    background-color: var(--color--verde-primario);
    height: 4rem;
    width: 10rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.btn-2:hover{
    color: var(--color--negro-primario);
    background-color: var(--color--verde-terciario);
    transition: all 0.4s;
}

.nav--right{
    display: flex;
    width: 45%; /*Hace que sobre notros se vea de forma lineal y no un texto encima de otro*/
    height: auto;
    align-items: center;
    justify-content: flex-end;
}
.contact{
    padding-right: 2rem;
}

.button--abrir{
    display: none;
    border: 0;
    font-size: 2rem;
    color: var(--color--blanco-secundario);
    background-color: var(--color--negro-primario);
    cursor: pointer;
}


/*VERSION TABLET MENU HAMBURGUESA*/

@media (max-width: 1030px) {

    .nav--elements {
        display: flex;
        position: fixed;
        width: 32vh;
        top: 0;
        right: 0;
        background: var(--color--negro-primario);
        bottom: 0;
        padding: 2rem 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        justify-content: space-between;
    }

    .container--ul ul button img{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .container--ul ul {
        padding-top: 1rem;
        flex-direction: column;
        gap: 3rem;
        align-items: normal;
    }

    .button--cerrar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .button--cerrar:hover {
        color: var(--color--blanco-primario);
        transition: all 0.3s;
    }

    .container--ul ul li img {
        display: flex;
        padding-right: 1rem;
        padding-top: 0.4rem;
    }

    .container--ul ul li a {
        display: flex;
    }

    .container--ul ul li a span {
        padding-left: 1rem;
        padding-top: 0.8rem;
    }

    .nav--rigth-2{ /* ************************ */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        align-self: flex-start;
    }

    .btn-1 {
        font-weight: bold;
        background-color: transparent;
        cursor: pointer;
        padding-left: 0;
    }

    .btn-1:hover {
        color: var(--color--verde-primario);
        transition: all 0.4s;
    }

    .btn-2 {
        font-weight: bold;
        font-size: 1.6rem;
        cursor: pointer;
        align-items: end;
    }

    .btn-2:hover {
        color: var(--color--negro-primario);
        background-color: var(--color--verde-terciario);
        transition: all 0.4s;
    }

    .nav--right {
        display: none;
    }

    .button--abrir {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-right: 2rem;
    }

    .scale-up-center{
        animation:scale-up-center 2s; 
    } 
    
    @keyframes scale-up-center{ 
        0%{transform:scale(.5)} 
        100%{transform:scale(1)} 
    }

    .button--abrir:hover {
        color: var(--color--blanco-primario);
        transition: all 0.3s;
    }

    .visible {
        opacity: 1;
        visibility: visible;
    }
}

/*=======================| SECCION PORTADA|============================*/
.container--portada{
    background-image: url(assets/home/homebackg.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 104.5vh; /*Hace que coincidan las lineas d los fondos, debe ir en todos los tamaños de contenedores el mismo valor*/
}
.titulos--portada{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--color--blanco-primario);
    font-size: 5rem;
    font-family: 'Semakin', sans-serif;
    padding: 7rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;
}
.container--titulos{
    padding-top: 10rem;
}

.h1-2--portada span{
    color: var(--color--verde-primario);
}

/*VERSION TABLET*/

@media screen and (min-width: 768px) and (max-width: 1030px){
    .container--portada {
        background-image: url(assets/home/responsive.png);
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 104.5vh; /*Hace que coincidan las lineas d los fondos, debe ir en todos los tamaños de contenedores el mismo valor*/
    }

    .titulos--portada {
        padding: 5rem;
        font-size: 6rem;
    }
}   

/*VERSION MOBILE*/

@media screen and (max-width: 768px){
    .container--portada {
        background-image: url(assets/home/responsive.png);
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 104.5vh; /*Hace que coincidan las lineas d los fondos, debe ir en todos los tamaños de contenedores el mismo valor*/
    }

    .titulos--portada {
        padding: 5rem;
        font-size: 2rem;
    }
}   

/*=======================| SECCION QUE ES CROSSFIT |============================*/
.cross--main {
    background-image: url(assets/crossfit/crossfitbackg.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 104.5vh; /*Hace que coincidan las lineas d los fondos, debe ir en todos los tamaños de contenedores el mismo valor*/
}
.cross--container {
    display: flex;
    width: 100%;
    height: 58rem;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 5rem;
}
.cross-titulo {
    font-size: 7rem;
    margin-bottom: 1.2rem;
    padding-top: 20rem;
    font-family: 'Semakin', sans-serif;
    word-spacing: 1rem;
}

.cross-contenido {
    font-size: 2.3rem;
    text-align: justify;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--color--negro-primario);
}

.strong{
    font-weight: 650;
    color: var(--color--negro-primario);
}

/*VERSION TABLET*/

@media screen and (min-width: 768px) and (max-width: 1030px) {
    .cross--main {
        background-image: url(assets/crossfit/crossfitbackg.jpg);
        height: auto;
    }

    .cross--container {
        width: 100%;
        height: auto;
        padding: 2rem;
    }

    .cross-titulo {
        font-size: 6rem;
        padding-top: 8rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .cross-contenido {
        font-size: 3rem;
        text-align: justify;
        padding-bottom: 12rem;
    }
}

/*VERSION MOBILE*/

@media screen and (max-width: 768px) {
    .cross--main {
        background-image: url(assets/crossfit/crossfitbackg.jpg);
        height: auto;
    }

    .cross--container {
        width: 100%;
        height: auto;
        padding: 2rem;
    }

    .cross-titulo {
        font-size: 3rem;
        padding-top: 8rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .cross-contenido {
        font-size: 1.7rem;
        text-align: justify;
        padding-bottom: 12rem;
    }
}

/*============================| SECCION DE COACHES |================================*/

.coa-container {
    background-image: url(assets/coaches/coachesbackg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    width: 100%;
    height: 104.5vh; /*Hace que coincidan las lineas d los fondos, debe ir en todos los tamaños de contenedores el mismo valor*/
}

.hr-titulo {
    font-family: 'Semakin', sans-serif;
    text-align: center;
}

.cajas-coach {
    display: grid;
    grid-template-columns: auto auto auto auto;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin-bottom: 8rem;
}

/*Caja de Coaches*/
.caja-coa {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 5rem 5rem;
    grid-template-rows: 3rem 6rem 6rem 6rem 6rem 7rem;
    width: fit-content;
    height: fit-content;
    gap: 0%;
}

.headcoach {
    background-color: var(--color--negro-primario);
    grid-row: 1/4;
    grid-column: 1/2;
    font-size: 2rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aux-hcoa {
    transform: rotate(270deg);
    color: var(--color--verde-primario);
    grid-row: 1/5;
    font-weight: bolder;
    font-size: 2rem;
}

.coach-name-2{
    grid-row: 3/7;
    grid-column: 1/2;
    font-family: 'Poppins', sans-serif;
    padding-top: 22rem;
}

.aux-name {
    transform: rotate(270deg);
    color: var(--color--negro-primario);
    grid-row: 3/7;
    font-weight: 900;
    font-size: 1.8rem;
    white-space: nowrap;
}

.caja-img {
    border-color: var(--color--negro-primario);
    border: 0.5rem solid;
    grid-column: 2/8;
    grid-row: 1/7;
    display: flex;
}

.caja-img img {
    width: 100%;
}

.coach {
    background-color: var(--color--negro-primario);
    grid-row: 1/3;
    grid-column: 1/2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3.4rem;
}

.coach-name-3{
    grid-row: 3/7;
    grid-column: 1/2;
    font-family: 'Poppins', sans-serif;
    padding-top: 15rem;
}

.aux-coa {
    transform: rotate(270deg);
    color: var(--color--verde-primario);
    grid-row: 1/5;
    font-weight: bolder;
    font-size: 2rem;
}

.coach-name{
    grid-row: 3/7;
    grid-column: 1/2;
    font-family: 'Poppins', sans-serif;
    padding-top: 13.8rem;
}

/*VERSION TABLET*/

@media screen and (min-width: 768px) and (max-width: 1030px){

    .coa-container {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        width: 100%;
        height: auto;
        padding-bottom: 10rem;
    }

    .cajas-coach {
        display: grid;
        grid-template-columns: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*VERSION MOBILE*/

@media screen and (max-width: 768px) {

    .coa-container {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        width: 100%;
        height: auto;
        padding-bottom: 10rem;
    }

    .cajas-coach {
        display: grid;
        grid-template-columns: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/*============================| SECCION DE HORARIOS |================================*/

.hr-container {
    background-image: url(assets/schedules/schedulesbackg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    width: 100%;
    height: 104.5vh;
}

.hr-titulo {
    font-family: 'Semakin', sans-serif;
    text-align: center;
    font-size: 8rem;
    padding-top: 10rem;
    margin-bottom: 5rem;
}

.hr-lista {
    display: grid;
    grid-template-columns: auto auto auto auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 8rem;
}

.hr-lista-1{
    display: flex;
}

.caja {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    grid-template-rows: 1.5rem 1.5rem 6rem 6rem 6rem 6rem;
    width: fit-content;
    height: fit-content;
    gap: 0%;
}

.dias {
    background-color: var(--color--blanco-primario);
    padding-left: 0.4rem;
    grid-column: 1/6;
    font-family: 'Poppins', sans-serif;
    font-size: 1.40rem;
    font-weight: 800;
    grid-row: 1/3;
    line-height: 3.3rem;
    display: inline-block;
}

.am-pm {
    background-color: var(--color--negro-primario);
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.aux {
    transform: rotate(270deg);
    color: var(--color--verde-primario);
    z-index: 1;
}

.lista {
    border-color: var(--color--negro-primario);
    border: 0.5rem solid;
    grid-column: 2/8;
    grid-row: 3/7;
    display: flex;
    justify-content: center;
}

.elementos-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    justify-content: space-around;
}

.hr-lista-2{
    display: flex;
}

.dias-2 {
    background-color: var(--color--blanco-primario);
    padding-left: 0.7rem;
    grid-column: 1/4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.40rem;
    font-weight: 800;
    grid-row: 1/3;
    line-height: 3.3rem;
    display: inline-block;
}

.am-pm-2 {
    background-color: var(--color--negro-primario);
    grid-row: 3/5;
    grid-column: 1/2;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-left: 0.5rem;
}

.aux-2 {
    transform: rotate(270deg);
    color: var(--color--verde-primario);
    grid-row: 3/5;
    width: 10rem;
    height: 10rem;
}

.am-pm-3 {
    background-color: var(--color--negro-primario);
    grid-row: 3/5;
    grid-column: 1/2;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    padding-left: 0.3rem;
    padding-top: 0.5rem;
}

.aux-3 {
    transform: rotate(270deg);
    color: var(--color--verde-primario);
    grid-row: 3/5;
    width: 10.5rem;
    height: 10rem;
}

/*VERSION TABLET*/

@media screen and (min-width: 768px) and (max-width: 1030px) {
    .hr-container {
        background-image: url(assets/schedules/schedulesbackg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        width: 100%;
        height: auto;
        padding-bottom: 10rem;
    }

    .hr-titulo {
        font-family: 'Semakin', sans-serif;
        text-align: center;
        font-size: 4rem;
        padding-top: 10rem;
        margin-bottom: 6rem;
    }

    .hr-lista {
        display: grid;
        grid-template-columns: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hr-lista-1{
        display: flex;
    }

    .hr-lista-2{
        display: flex;
    }
}

/*VERSION MOBILE*/

@media screen and (max-width: 768px) {
    .hr-container {
        background-image: url(assets/schedules/schedulesbackg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        width: 100%;
        height: auto;
        padding-bottom: 10rem;
    }

    .hr-titulo {
        font-family: 'Semakin', sans-serif;
        text-align: center;
        font-size: 4rem;
        padding-top: 10rem;
        margin-bottom: 6rem;
    }

    .hr-lista {
        display: grid;
        grid-template-columns: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hr-lista-1{
        display: flex;
        flex-direction: column;
    }

    .hr-lista-2{
        display: flex;
        flex-direction: column;
    }

    .hr-lista-2 .caja:last-child {
        margin-top: 2rem;
    }
}